    
    <li class='task-item ' (click)="selectBrew(ItemsFromParent)">
        {{taskId}}
        <div>
            <h5>
                {{ItemsFromParent.name | uppercase}} - <span>{{ ItemsFromParent.brewery_type}}</span>
            </h5>
            <p>{{ItemsFromParent.city}} - {{ItemsFromParent.state}}</p>
            <p *ngIf="ItemsFromParent.street ? true:false"> Street: {{ItemsFromParent.street}} </p>
            <a href={{ItemsFromParent.website_url}}>Site</a>
        </div>
        <button (click)="deleteBrew(ItemsFromParent.id)" class='btn-delete'>X</button>
    </li>
        
