.play-container {
  width: 80%;
  margin: 0.5rem auto;
  padding: 1.5rem;
  border: 1px solid #a19f9f;
  border-radius: 5px;
  box-shadow: -2px 2px 0.2rem 1px rgba(0, 0, 0, 0.2);
}
.employee {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 0.5rem 0;
}
.employee-table {
  margin: 1rem auto;
  width: 60%;
  text-align: left;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
ul li:hover {
  padding-left: 3px;
}
ul li span {
  text-align: left;
  width: 30%;
}
ul:nth-child(even) {
  background-color: #e2dede;
}

ul:nth-child(odd) {
  background-color: #a8abad;
}

.employee-table-header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

span {
  text-align: left;
  width: 30%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}
