
<div class="login-container">

    <div class="login-form">
        <h2>{{'Login' | uppercase}} </h2> <span>{{today | date:'fullDate' }}</span>
        <div class="input">
            <label for="">User Name </label>

            <input type="text">
        </div>
        <div class="input">
            <label for="">Password </label>
            <input type="text">
        </div>
        <button>{{'Login' | uppercase }}</button>
    <p>OR</p>
        <button>{{'Register' | uppercase }}</button>

    </div>
</div>
